#logo{
    width: 5rem;
    height: 5rem;
}

#black{
    background-color:black;
    
}

#menu{
    display: flex;
    
}

.navegacion{
    position: fixed;
    right: 1rem;
    top: 5rem;


}

.navegacion a{
    text-decoration: none;
    color: whitesmoke;
    
}
.navegacion a:hover{
    color: orange;
}